.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: fixed;
  top: 0;
  width: 100%
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#con-1 {
	background-color: black;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
}

#disp {
	padding-top: 50px;
	padding-bottom: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  max-height: 400px;
  margin: auto;
  text-align: center;
}

.avatar {
	vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#con-3 {
	background-image: url(../images/pizza6.jpg);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

}
.orderSee #show-pizza{
	display: none;
}

#con-4 {
	text-align: center;
}