.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: fixed;
  top: 0;
  width: 100%
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#con-1 {
	background-image: url(../images/pizza3.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
	color: white;
}

.orderSee #show-pizza{
	display: none;
}